
h1{
    height: 40px;
    width: 100%;
    border: solid black 5px; 
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.display_user_container{
    height: 400px;
    width: 400px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
}

.display_user_container_two{
    height: 100px;
    width: 400px;
    border: 5px solid black;
}

.button{
    color: black;
}