<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="container">
        <form action="/results" method ='post'>

            
            
            <p class="name">Your Name: <input type="text" name="name"> </p>
            <p class="location">Dojo location: 
                <select name="location" class="one">
                    <option value="San Jose">San Jose</option>
                    <option value="chicago">Chicago</option>
                    <option value = "New York">New York</option>                                        
                </select> 
            </p>
            <p class="language">Favorite Language: 
                <select name="languages" class="two">
                    <option value="JavaScript">JavaScript</option>
                    <option value="python">Python</option>
                    <option value="css">CSS</option>
                    <option value="java">Java</option>
                </select>
            </p>
            <p class="text"> Comment (optional):</p>
            <textarea name="big_tex" id="text_area" cols="30" rows="10"></textarea>
            <input type="submit" value="button">
        </form>
    </div>
</body>
</html>
