<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Submitted Info</h1>
        <div class="name">Name: {{session["name"]}}</div>
        <div class="dojo">Dojo location: {{session["location"]}}</div>
        <div class="favorit">Favorite Language: {{session["languages"]}}</div>
        <div class="comment">Comment: {{session["big_tex"]}}</div>

    </div>
</body>
</html>