<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>User 4 <a href="/"></a></h1>
    <div class="display_user_container">

    </div>
    <p class="display_user_container_two">
        <a href="edit_user">edit</a>|<a href="delete_user"></a>
    </p>
</body>
</html>