<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="giant_container">
        <h1>Users</h1>
        {% for u in all_users %}
    <p>ID: {{u.id}}</p>
    <p>Full: {{u.full_name}}</p>
    <p>Email: {{u.Email}}</p>
    <a href="/delete/{{u.id}}">Delete</a>
    <a href="/update/{{u.id}}">Update</a>
    <hr>
{% endfor %}
    <form action='/create_user'>
        <input type="submit" value="Add User">
    </form> 
    </div>
</body>
</html>
