<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>New Ninja</h1>

    <form action="/ninja_process", method="POST">
            <select name="Dojo">
                {% for dojo in dojos %}
                <option value="{{dojo.id}}">{{dojo["name"]}}</option>
                {%endfor%}
            </select>

            First Name : <input type="text" name="first_name">
            Last Name : <input type="text" name="last_name">
            Age : <input type="text" name="age">

            <input type="submit" value="Create Ninja">
    
    </form>


    <a href="/dojos">Home</a>
</body>

</html>